/* Styling for Dropdown */
.dropdown {
  display: none;
  background-color: rgb(233, 206, 212);
}

.dropdown.open {
  display: block;
}

.dropdown-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
  font-weight: bold;
  font-size: 1.5rem;
}

.dropdown-link a {
  text-decoration: none;
  color: black;
  padding: 10px;
  width: 100%;
  text-align: center;
}

.dropdown-link a:hover {
  background-color: rgb(240, 145, 181);
}