/* Styling for Dropdown */
.dropdown {
  display: none;
  background-color: #75E6DA;
}

.dropdown.open {
  display: block;
}

/* dropdown link */
.dropdown-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
  font-weight: bold;
  font-size: 1.5rem;
}

.dropdown-link a {
  text-decoration: none;
  color: black;
  padding: 10px;
  width: 100%;
  text-align: center;
}

/* colour change for dropdown hover */
.dropdown-link a:hover {
  background-color:#5bb3aa;
}