.faq-container {
    padding: 20px 0 50px 0;
    background-color: #86b8c6;
    height: 90vh;
    display: flex;
    align-items: center;
}

.faq-section-heading {
    text-align: center;
    margin-bottom: 50px;
}