.about-us {
  background-color: lightcyan;
  margin-top: 0;
  margin-bottom: 0;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
  padding-top: 50px;
  padding-bottom: 50px;
}

.jumbotron {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 20px;
  overflow: hidden;
}

.about-us-content {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background-color: #0cbfdfb5;
  padding: 30px;
  border-radius: 10px;
}

.jumbotron:hover .about-us-content {
  opacity: 1;
}

.jumbotron img {
  max-width: 100%;
  height: auto;
}

.jumbotron h2 {
  margin-bottom: 10px;
  font-size: 2.5rem;
}

.jumbotron p {
  margin-bottom: 10px;
}

.col-md-4 {
  margin-bottom: 20px;
  margin-top: 0;
}

.left-image {
  padding-left: 10px;
  padding-right: 10px;
}

.middle-image {
  padding-left: 10px;
  padding-right: 10px;
}

.right-image {
  padding-left: 10px;
  padding-right: 10px;
}

/* Responsive styles for 400x453 device */
@media (max-width: 400px) {
  .jumbotron {
    width: 100%;
    height: auto;
    justify-content: center;
    /* Center content vertically */
  }

  .about-us {
    height: auto;
    /* Allow height to adjust based on content */
  }

  .col-md-4 {
    margin-bottom: 5px;
  }

  .jumbotron h2 {
    font-size: 1.5rem;
  }

  .jumbotron p {
    font-size: 0.8rem;
  }

  .col-md-4 {
    margin-bottom: 10px;
  }

  .left-image,
  .middle-image,
  .right-image {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (min-width: 401px) and (max-width: 768px) {
  .jumbotron h2 {
    font-size: 2rem;
  }

  .jumbotron p {
    font-size: 1rem;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .jumbotron h2 {
    font-size: 2.5rem;
  }

  .jumbotron p {
    font-size: 1.2rem;
  }
}

@media (min-width: 1201px) {
  .jumbotron h2 {
    font-size: 3rem;
  }

  .jumbotron p {
    font-size: 1.5rem;
  }
}